<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>gopher-web</title>
    <meta name="description" content="This is the placeholder meta description.">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <script defer src=""></script> -->
  </head>
  <body>
    <header>Header placeholder</header>
    <main>Page body placeholder</main>
    <footer>Footer placeholder</footer>
  </body>
</html>
