<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>
    <meta name="description" content="{{.MetaDescription}}">
  </head>
  <body>
    <header>
      {{template "header" .}}
    </header>
    <main>
      {{.PageBody}}
    </main>
    <footer>
      {{template "footer" .}}
    </footer>
  </body>
</html>

{{- define "header" -}}
  <h1>Page Header</h1>
{{- end -}}

{{- define "footer" -}}
  <h1>Page Footer</h1>
{{- end -}}
