{{- block "layout" . -}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{block "title" .}}Page Title Placeholder{{end}}</title>
    <link rel="icon" type="image/svg+xml" sizes="any" href="/features/core/data/sources/public/gopher.svg">
    <meta name="description" content='{{block "meta_description" .}}Meta description placeholder.{{end}}' />
    <script src="/public/core/htmx.2.0.8.min.js"></script>
  </head>
  <body>
    <header>
      {{- block "header" . -}}
        <h1 style="padding-top: 16px; padding-bottom: 16px; background-color: lightblue;">Page Header Placeholder</h1>
      {{- end -}}
    </header>
    <main>
      <header>
        {{- block "side_menu" . -}}
          <h2>Side Menu</h2>
          <nav hx-boost="true">
            <ul>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/pages">Pages</a></li>
            </ul>
          </nav>
        {{- end -}}
      </header>
      <main>
        {{- block "body" . -}}
          <h1 style="padding-top: 16px; padding-bottom: 16px; background-color: lightblue;">Page Body Placeholder</h1>
        {{- end -}}
      </main>
      <footer></footer>
    </main>
    <footer>
      {{- block "footer" . -}}
        <h1 style="padding-top: 16px; padding-bottom: 16px; background-color: lightblue;">Page Footer Placeholder</h1>
      {{- end -}}
    </footer>
  </body>
</html>
{{- end -}}
