{{- define "title" -}}
  pages
{{- end -}}

{{- define "meta_description" -}}
  The page management dashboard.
{{- end -}}

{{- define "body" -}}
  <h1>Pages</h1>
  <table>
    <thead>
      <tr>
        {{- range .Headings -}}
          <td>{{.}}</td>
        {{- end -}}
      </tr>
    </thead>
    <tbody>
      {{- range .Rows -}}
        <tr>
          {{- range . -}}
            <td>{{.}}</td>
          {{- end -}}
        </tr>
      {{- end -}}
    </tbody>
  </table>
  <button hx-get="/api/add-page">Add page</button>
{{- end -}}
